header{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    img{
        display: block;
        width: 200px;
    }
    nav{
        display: flex;
        gap: 50px;
        a{
            font-size: 24px;
            font-weight: 500;
        }
    }
}
//responsive
@media (max-width: 1024px) and (min-width:769px){
    header{
        padding: 30px 60px;
        img{
            width: 150px;
        }

    }
}
@media (max-width: 768px){
    header{
        padding: 20px 30px;
        img{
            width: 100px;
        }
        nav{
            gap:20px;
            a{
                font-size: 13px;
            }
        }
        
    }
}