* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

#root {
  max-width: 1440px;
}

main {
  min-height: 80vh;
}

header {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
header img {
  display: block;
  width: 200px;
}
header nav {
  display: flex;
  gap: 50px;
}
header nav a {
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 1024px) and (min-width: 769px) {
  header {
    padding: 50px 100px;
  }
  header img {
    width: 150px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 20px 30px;
  }
  header img {
    width: 100px;
  }
  header nav {
    gap: 20px;
  }
  header nav a {
    font-size: 13px;
  }
}
footer {
  background: rgb(0, 0, 0);
  max-height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 15px 0;
}
footer p {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
}

@media (max-width: 1024px) and (min-width) {
  footer p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 50px;
  }
  footer p {
    width: 130px;
    text-wrap: wrap;
    font-size: 14px;
  }
}
.error {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}
.error > * {
  text-align: center;
  margin-bottom: 3em;
}
.error img {
  width: 600px;
  margin: 3em auto;
}
.error p {
  font-size: 36px;
  font-weight: 500;
  color: rgb(255, 96, 96);
}
.error a {
  text-decoration: underline;
  font-weight: 500;
  font-size: 18px;
}

.banner {
  margin: 0 100px;
  height: 220px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  margin-bottom: 35px;
  color: rgb(255, 255, 255);
  position: relative;
}
.banner::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.banner h1 {
  font-size: 48px;
  z-index: 2;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .banner {
    height: 175px;
  }
  .banner h1 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .banner {
    height: 150px;
    margin: 0px 30px;
  }
  .banner h1 {
    font-size: 17px;
  }
}
.apart-container {
  background-color: rgb(246, 246, 246);
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 3.5em;
  margin: 35px 100px 35px 100px;
}

.apart-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 350px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.apart-card::after {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
}
.apart-card img {
  width: 100%;
  object-fit: cover;
  height: auto;
  flex-grow: 1;
}
.apart-card h2 {
  font-size: 18px;
  color: rgb(255, 255, 255);
  z-index: 2;
  width: 100%;
  margin: 10px;
  position: absolute;
  bottom: 15px;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .apart-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .apart-card {
    height: 250px;
  }
  .apart-card h2 {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .apart-container {
    grid-template-columns: 1fr;
    margin: 35px 30px 35px 30px;
    padding: 1.5rem;
    gap: 15px;
  }
  .apart-card {
    height: 150px;
  }
  .apart-card h2 {
    font-size: 13px;
  }
}
.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 200px;
  margin-bottom: 35px;
  text-align: center;
}

.dropdown {
  background: rgba(246, 246, 246, 0.45);
  border-radius: 10px;
  overflow: hidden;
}
.dropdown-title {
  display: flex;
  justify-content: space-between;
  background: rgb(255, 96, 96);
  padding: 15px;
  border-radius: 5px;
}
.dropdown-title h2 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.dropdown-title button {
  background: none;
  border: none;
}
.dropdown-title button .fa-chevron-down {
  color: rgb(255, 255, 255);
  font-size: 24px;
}
.dropdown p {
  margin-top: 10px;
  padding: 15px;
  text-align: justify;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

/*# sourceMappingURL=index.css.map */
